@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-login-out {
    @apply bg-white text-blue-500 hover:bg-blue-200 px-3 rounded-md transition-all duration-300 ease-in-out shadow-md text-sm flex items-center;
  }
  .title-footer {
    @apply text-[16px] leading-3 text-blue-300 font-semibold mb-2;
  }

  .link-footer {
    @apply hover:text-gray-300 leading-3 transition duration-300 text-sm;
  }

}
