@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  margin: 0;
}

ul {
  margin: 0;
}

@layer components {
  .btn-login-out {
    @apply bg-white text-blue-500 hover:bg-blue-200 px-3 py-2 rounded-md transition-all duration-300 ease-in-out shadow-md text-sm flex items-center sm:text-base md:text-lg  md:py-3;
  }
  .title-footer {
    @apply text-[16px] leading-3 text-blue-300 font-semibold mb-2 md:text-lg lg:text-xl xl:text-2xl;
  }

  .link-footer {
    @apply hover:text-gray-300 leading-3 transition duration-300 text-sm md:text-base lg:text-lg xl:text-xl;
  }

  .dashboard-label {
    @apply text-white text-sm md:text-base lg:text-lg xl:text-xl border;
  }
}
